@charset "utf-8";
/* CSS Document */

div#qTip
{
	 max-width:400px;
	 box-shadow:#666 0px 0px 2px 0px;
	 padding-left:20px;
	 padding-right:20px;
	 padding-top:10px;
	 padding-bottom:10px;
	 border:1px solid #630;
	 display: none;
	 background:url(../themes/reloadedpt/img/bgCont_r16_c2.png);
	 color: #900;
	 font-size:14px;
	 text-align: left;
	 position: absolute;
	 z-index: 99999;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	font-family:Arial, Helvetica, sans-serif; 
/*	text-shadow:#000 0px 0px 1px;
	-moz-text-shadow:#000 0px 0px 1px;
	-webkit-text-shadow:#000 0px 0px 1px;
	-o-text-shadow:#000 0px 0px 1px;
	background-color:#000000;
	background:-moz-linear-gradient(#000000, #333);
	background:-webkit-linear-gradient(#000000, #333);
	background:-o-linear-gradient(#000000, #333);
	background:-moz-linear-gradient(#000000, #333);
*/
}