html { 
  background: url(PT-BACK.jpg) no-repeat center center fixed; 
background-size:100% 100%;
overflow-x: hidden;
}

body {
	
}

div#maintext {
	position: relative;
    background-image:url("scroll.png") ;
	background-size:600px 562px;
   background-repeat: no-repeat;
    background-position: center top;
		Margin-top: 0%;
	
}