<configuration>
	<system.web>
		<customErrors mode="on" />
	</system.web>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".upw" mimeType="application/x-zip-compressed" />
        </staticContent>
    </system.webServer>
</configuration>